* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    
}

html, body {
    height: 100%;
}


html, body.contacts {
    
    height: 100%;
    
}

body.contacts {
    display: flex;
    flex-direction: column;

}

#form-size {
    flex-grow: 1;
}


h1,h2,h3 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 2.5rem;
}

body {
    background-color: #f2f5f7;

}

body.contacts, body.map-background

{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url(../images/sweden-castle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: luminosity; 
}


body.map-background
{
    display: flex;
    flex-direction: column;
    
}


/*--Home page--*/

/*--Navigation menu--*/

.nav-choice {
    color: rgb(194, 4, 4);
}

.active {
    color: rgb(194, 4, 4)!important;
}

.navbar .navbar-brand:hover {
    color: white;    
}

#header{
    background-image: url(../images/castle-park.jpg);
    background: linear-gradient(rgba(87, 83, 83, 0.8), rgba(42, 43, 44, 0.301)), url(../images/castle-park.jpg);
    filter: contrast(180%);
    background-size: cover;
    padding: 120px 0;
    text-align: center;
    max-width: 100%;
    background-size: cover; 
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
   
}

#about {
     overflow: hidden;
}

.section-image {
    width: 100%;
    overflow: hidden;
    
}

.section-image img {
    height: 100%;
    width: 100%;
}

#why-image {
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.three-castles a {
    font-weight: 900;
    color: rgb(19, 18, 18);
    text-decoration: none;
}

.three-castles a:hover {
    color: rgb(138, 128, 128)
}
.home-title {
    color: #fff;
    text-align: center;
    padding: 50px 0px;
    margin-top: 90px;
    
}

.home-text {
    color: #fff;
    text-align: center;    
}

.top-3  {
    margin-top: 10px;
}

.header-home {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.section-text {
    margin-top:15%;
    text-align: center;
}


.curious {
   margin-top: 50px;
   margin-bottom: 25px;
}

.highlight {
    color: red;
    font-weight: 600;
}

.action {
    text-align: center;
}

.press {
    color: black;
}

.btn-lg {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(194, 4, 4);

   
}

.btn-lg:hover{
    background-color: rgb(138, 128, 128);
}

/*--Map and castles description--*/

.container-map {
    flex-grow: 1;
    text-align: center;
}

.window {
    flex-grow: 1;
   
}


.title-map {
    
    margin-bottom: 30px;
    text-align: center;  
}

.title-map h1 {
    margin-bottom: 30px;
    margin-top: 70px;
}

.title-map p {
    color:rgb(194, 4, 4);
    margin-bottom: 1rem;
    font-size: 25px;
}


.info-window {
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: #f2f5f7;
}

.info-window a {
    text-decoration: none;
    color: rgb(194, 4, 4);
    font-weight: 600;
}

.info-window-image {
    width: 400px;
    height: 200px;
    object-fit: cover;

}


#map {
    height: 600px;
    width: 100%;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    margin: 0 auto;
      
}

.container-map, .title-map, .footer {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}


/*--Contact from--*/


 .container-fluid, .form-title .footer{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.form-title {
text-align: center;
padding: 100px 0px;
font-size: 50px;
    
}

.form-title p {
    font-size: 30px;
    color: rgb(194, 4, 4);
    margin-top: 50px;
}



/*.form-subtitle {
    text-align: center;
    color: rgb(194, 4, 4);
    margin-top: -20px;
    margin-bottom: 60px;
}

.contacts-subtitle h3 {
    margin-top: 10px;
}

/*#form-size {

    
    flex-grow: 1;
    text-align: center;
    width: 100%;
    margin: 0 auto;
} */

 

.window {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    background-color: rgb(109, 105, 105);
    opacity: 70%;
    border-radius: 8px;
    margin-bottom: 30px;
    height: 500px;
    

}

.form-group {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    
}

.form-group input, 
.form-group textarea {

    width: 100%;
    padding: 1px;
    font-size: 18px;
    border: 1px solid rgb(126, 125, 125);
    margin-top: 2px;
    
}


.form-group label {
    color: #fff;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(194, 4, 4);
    
}
 
button[type="submit"]:hover {
background-color: rgb(138, 128, 128);
}

#success-response {
    
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(194, 4, 4);
    text-align: center;
    font-size: 14px;
    display: none;
    border-radius: 8px;
    color: white;
    
}

#error-response {
    
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(194, 4, 4);
    text-align: center;
    font-size: 14px;
    display: none;
    border-radius: 8px;
    color: white;
    
}



/*--Footer--*/

.footer {
   
  
    text-align: center;
    padding: 20px;
    flex-grow: 0;
    
 
}


.footer i {
    color:rgb(194, 4, 4);
       
}

.footer i:hover {
    color: rgb(138, 128, 128);
}

/*----Media queries for small devices---------*/

@media(max-width:600px) {
#header-home-why {
    margin-top: 5px;
    margin-bottom: -20px;
}
}

@media(max-width:600px) {
.home-title {
    margin-top: 10px;
    margin-top: 0px;
  
}
}

@media(max-width:600px) {
.contacts-subtitle {
    margin-top: -10px;
  
}
}

@media(max-width:600px) {
.info-window {
    width: 200px;
    height: 300px;
    text-align: center;
    font-size: small;
    background-color: #f2f5f7;
}
}

@media(max-width:600px) {

.info-window-image {
    width: 200px;
    height: 90px;
    object-fit: cover;

}
}

/*--Media queries for large devices--*/
/*@media (min-width: 1024px) {
#map {
    height: 700px;
    width: 900px;
    
}
}*/

/*@media (min-width: 1024px) {
#map-size {
    margin-bottom: 400px;
  
}
}

@media (min-width: 1024px) {
#form-size {
margin-bottom: 300px;
}
}*/
