* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;

    
}

h1,h2,h3 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
}

body {
    background-color: #f2f5f7;

}

body.contacts

{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url(../images/sweden-castle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: luminosity; 
}

body.map-background

{
background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url(../images/sweden-castle.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: luminosity; 

}




/*--Home page--*/

/*--Navigation menu--*/

.nav-choice {
    color: rgb(194, 4, 4);
}

.home-link {
    color: rgb(194, 4, 4)!important;
}

.navbar .navbar-brand:hover {
    color: white;    
}

#header{
    background-image: url(../images/castle-park.jpg);
    background: linear-gradient(rgba(87, 83, 83, 0.8), rgba(42, 43, 44, 0.301)), url(../images/castle-park.jpg);
    filter: contrast(180%);
    background-size: cover;
    padding: 120px 0;
    text-align: center;
    max-width: 100%;
    background-size: cover; 
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
   
}

#about {
     overflow: hidden;
}

.section-image {
    width: 100%;
    overflow: hidden;
    
}

.section-image img {
    height: 100%;
    width: 100%;
}

#why-image {
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.three-castles a {
    font-weight: 900;
    color: rgb(19, 18, 18);
    text-decoration: none;
}

.three-castles a:hover {
    color: rgb(138, 128, 128)
}
.home-title {
    color: #fff;
    text-align: center;
    padding: 50px 0px;
    margin-top: 90px;
    
}

.home-text {
    color: #fff;
    text-align: center;    
}

.top-3  {
    margin-top: 10px;
}

.header-home {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.section-text {
    margin-top:15%;
}


.curious {
   margin-top: 50px;
   margin-bottom: 25px;
}

.highlight {
    color: red;
    font-weight: 600;
}

.action {
    text-align: center;
}

.press {
    color: black;
}

.btn-lg {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(194, 4, 4);

   
}

.btn-lg:hover{
    background-color: rgb(138, 128, 128);
}

/*--Map and castles description--*/

#castles {
    padding: 30px 0px;
}

.title-map {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;  
}

.title-map p {
    color:rgb(194, 4, 4);
}

.card-text {
    font-size: small;
}

.description h1, p{
    text-align: center;
    
}


.cards-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
   
     
}

.cards-body a {
    color: rgb(34, 31, 31);
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    font-size: small;
    font-weight: 600;
}

.cards-body a:hover {
    color: rgb(194, 4, 4);
    text-decoration: none;

}

#map {
    height: 400px;
    width: 100%;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    margin-bottom: 30px;

}

/*--Contact from--*/

.form-title {
text-align: center;
padding: 100px 0px;
font-size: 50px;
    
}

.form-title h1 {
    margin-bottom: 5px;
}


.form-title h3 {
    margin-top: -20px;
    color: rgb(194, 4, 4);
}

#form-size {
 
width: 90%;
}

.window {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    background-color: rgb(109, 105, 105);
    opacity: 70%;
    border-radius: 8px;
    margin-bottom: 50px;
    

}

.form-group {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    
}

.form-group input, 
.form-group textarea {

    width: 100%;
    padding: 1px;
    font-size: 18px;
    border: 1px solid rgb(126, 125, 125);
    margin-top: 2px;
    
}


.form-group label {
    color: #fff;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    margin-top:5px;
    background-color: rgb(194, 4, 4);
    
}
 
button[type="submit"]:hover {
background-color: rgb(138, 128, 128);
}

#success-response {
    
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(194, 4, 4);
    text-align: center;
    font-size: 14px;
    display: none;
    border-radius: 8px;
    color: white;
    
}

/*--Footer--*/

footer {
   
    margin-top: 100px;
    height: auto;
    margin-botom: 0px; 
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #f2f5f7;
    
}

footer i {
    color: rgb(194, 4, 4);
    
    
}

footer i:hover {
    color: rgb(138, 128, 128);
}
